.checkboxContainer span {
  @apply relative inline-block size-5 bg-[#d9d9d9] rounded transition;
}

.checkboxContainer span::after {
  content: "";
  position: absolute;
  border: solid white;
  border-width: 0 0.2em 0.2em 0;
  transform: rotate(45deg);
  width: 0.45em;
  height: 0.9em;
  left: 0.45em;
  top: 0.1em;
  opacity: 0;
  transition: 0.15s ease;
}

.checkboxContainer input:checked ~ span::after {
  opacity: 1;
}

.checkboxContainer input {
  @apply hidden;
}

.checkboxContainer {
  @apply cursor-pointer;
}

.checkboxContainer input:checked ~ span {
  @apply bg-[#1fcc7e];
}
