@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
  @apply rounded-md bg-input-background border-input-border border px-2 py-1 outline-none focus:border-[#5CBAFF] transition;
}

.button {
  @apply bg-button-background px-4 py-2 font-semibold text-lg rounded-md hover:bg-button-hover hover:scale-105 transition;
}

.inputBox {
  @apply flex flex-col gap-2 w-full;
}

.basicContainer {
  @apply w-full h-full flex flex-col items-center px-6;
}

.titlePageContainer {
  @apply w-full flex justify-between pt-4 px-4;
}

.titlePageContainer h2 {
  @apply text-3xl font-semibold;
}

input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px #1b2021 inset !important;
  -webkit-text-fill-color: white !important;
  transition: 150ms;
}
