@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 0.4s ease-out;
}

.input {
  @apply rounded-md bg-input-background border-input-border border px-2 py-1 outline-none focus:border-[#5CBAFF] transition;
}

.select {
  @apply rounded-md bg-input-background border-input-border border px-2 py-1.5 outline-none focus:border-[#5CBAFF] transition;
}

.textarea {
  @apply rounded-md bg-input-background border-input-border border px-2 py-1 outline-none focus:border-[#5CBAFF] transition w-full;
}

.button {
  @apply bg-button-background px-4 py-2 font-semibold text-base rounded-md hover:bg-button-hover transition flex justify-center;
}

.inputBox {
  @apply flex flex-col gap-1 w-full;
}

.inputBox select {
  @apply rounded-md bg-input-background border-input-border border px-2 py-1.5 outline-none focus:border-[#5CBAFF] transition;
}

.basicContainer {
  @apply w-full h-full flex flex-col items-center px-6 overflow-y-auto max-h-[calc(100vh-63px)];
}

.titlePageContainer {
  @apply w-full flex justify-between pt-4 px-4;
}

.titlePageContainer h2 {
  @apply text-3xl font-semibold;
}

.transition-normal {
  transition: all 0.3s ease-in-out;
}

body {
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #2c2d31;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  appearance: none;
}

input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px #1b2021 inset !important;
  -webkit-text-fill-color: white !important;
  transition: 150ms;
}

.responsive-text {
  font-size: clamp(8px, 2.5vw, 18px);
}

select {
  appearance: none;
  height: 34px;
  line-height: 1.5;

  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="white"><path d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" /></svg>');
  background-repeat: no-repeat;
  background-position: calc(100% - 6px) center;
  background-size: 20px;
}
